---
import Javascript from '../assets/svgs/Javascript.svg'
---

<section class="flex flex-col items-center mt-32 w-full text-center border border-[#FEDA00] p-10 inner-shadow mb-32 relative" id="about-us">
    <h3 class="capitalize text-[2.5rem] lg:text-[4rem] text-[#FEDA00] font-bold">who we are?</h3>
    <p class="text-[1rem] mt-5 mb-10 max-w-[1250px] text-start lg:text-[2rem]">
        I'm Santiago Muscolo, a 20-year-old Front-end programmer who is very excited about
        web development, if you are here it is because you are as passionate about this as I am and 
        you want learn which is the best road map to be able 
        to become a good Front-end developer.
    </p>
    <span class="text-[1.6rem] lg:text-[3rem]">I hope I can help you!</span>

    <div>
        <img src={Javascript.src} width="200" height="100" alt="javascript logo" class="absolute z-[-1] top-[300px] left-[1660px] opacity-50 blur-sm" />
    </div>
</section>

<style>
    .inner-shadow {
      box-shadow: inset 0 0 20px #FEDA00; 
    }
  </style>